<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
    <typeAlias alias="BoardDto" type="com.fastcampus.ch4.domain.BoardDto"/>
    <typeAlias alias="SearchCondition" type="com.fastcampus.ch4.domain.SearchCondition"/>
    <typeAlias alias="CommentDto" type="com.fastcampus.ch4.domain.CommentDto" />
    <!--Dto타입을 패키지명 없이 바로 사용할 수 있도록 등록해줌.-->
</typeAliases>
</configuration>